<div class="marginalia_right well well-small" style="background-color: #e1f0ff;">
  <ul class="nav nav-list">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Recipes index ...
        <b class="caret bottom-up"></b>
      </a>
      <ul class="dropdown-menu bottom-up pull-right">
        {% for nav_item in site.nav_items %}
          {% assign css_class = nil %}
          {% if page.nav_id == nav_item.nav_id %}
            {% assign css_class = 'active' %}
          {% endif %}
          <li class="{{ css_class }}">
            <a href="{{ nav_item.url }}">{{ nav_item.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
